/* Start variables */
:root{
    --main-color: #19c8fa;
    --transparent-color :#0F748FB2;
}
/* End variables */
/* Start main heading */
.section{
    text-align: center;
}
.main-heading{
    text-align: center;
    margin: 100px auto;
}
.main-heading h3{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 66px;
    position: relative;
    text-transform: uppercase;
}
.main-heading h3::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
}
.main-heading h3::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
}
.main-heading p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    width: 470px;
    margin: 0 auto;
    max-width: 100%; 
    color: #777;
}
/* End main heading */


/* Start global rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: open sans;

}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
/* small */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}

.container{
    padding: 0 15px;
    margin: 0 auto;
}
/* End global rules */
/* Start header */
.landing{
    background:  url(../imgs/landing_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
header{
    text-transform: capitalize;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    min-height: 97px;
}
header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background: #a2a2a2;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
}
header .logo img{
    width: 124px;
    height: 40px;
}
header .container nav{
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    color: white;
}
header .container nav ul{
    display: flex;
    align-items: center;
}
header .container nav i{
    color: white;
    font-size: 22px;
}
@media (min-width:768px){
    header .container nav .berger-icon{
        display: none;
    }
}
@media (max-width:767px){
    header .container nav ul{
        display: none;
    }
    header .container .berger-icon:hover + .navbar {
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.504);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        justify-content: start;
        align-items: start;
        z-index: 100;
    }
    header .container .navbar a{
        padding: 15px !important;
    }
}
header .container nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    display: block;
    padding: 40px 9px;
}
header .container nav ul li .active,
header .container nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 1.5px solid var(--main-color);
    position: relative;
    z-index: 2;
}
header .container .form{
    margin-left: 30px;
    width: 40px;
    height: 30px;
    border-left: 1px solid white;
    text-align: end;
    font-size: 20px;
}
/* End header */
/* Start landing content */
.landing-content{
    width: 100%;
    height: calc(100vh - 97px);
}
.landing-text{
    background: var(--transparent-color);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    max-width: 960px;
    z-index: 1;
    max-height: 490px;
}
@media (max-width:1024px){
    .landing-text-content{
        text-align: center;
    }
    .landing-text{
        justify-content: center;
        align-items: center;
    }
    .landing-content .change-background{
        display: none;
    }
}
.landing-text-content{
    max-width: 70%;
    margin: 50px;
}
.landing-text h3{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}
.landing-text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-top: 20px;
}
.landing-content .change-background{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
}
.landing-content .fa-angle-left{
    left:30px;
}
.landing-content .fa-angle-right{
    right: 30px;
}
.bullets{
    position: absolute;
    text-align: center;
    bottom: 30px;
    left: 50%;
    transform: translateX(-60%);
    display: flex;

}
.bullets li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    border:1px solid white;
}
.bullets li.active{
    background: var(--main-color);
    border: 1px solid var(--main-color);
}
/* End landing content */
/* Start Services */
@media (min-width:768px){
    .services .services-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        column-gap: 30px;
        row-gap: 60px;
    }
    .services .serv-box i{
        margin-right: 50px;
    }
    
}
.services .serv-box{
    display: flex;
}
@media (max-width:767px){
    .services .serv-box{
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }
    .services .serv-box h3{
        margin: 40px 0;
    }

}
.services .serv-box i{
    font-size: 48px;
}
.services .serv-box h3{
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .serv-box p{
    line-height: 2;
    color: #777;
}
/* End Services */
/* Start design */
.design{
    height: 600px;
    background: url(../imgs/peakpx\ \(1\).jpg);
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design .img{
    flex: 1;
    text-align: center;
    padding-top: 250px;
}
.design .design-content{
    background: var(--transparent-color);
    width: 1000px;
    height: 361px;
    text-align: start;
    flex: 1;
}
@media (max-width:768px){
    .design-content{
        width: 100%;
    }
    .design .img{
        display: none;
    }
}
.design .design-content h3{
    font-weight: 400;
    font-size: 24px;
    margin: 45px;
    text-transform: uppercase;
}
.design .design-content ul{
    text-transform: capitalize;
    margin: 0 45px;
}
.design .design-content ul li {
    margin: 15px 0;
}
.design .design-content ul li span{
    margin: 0 20px;
}
/* End design */
/* Start portfolio */
.heading-container{
    text-align: center;
}
.heading-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.heading-container ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.heading-container ul li.active{
    background: var(--main-color);
    color: white;
}
.portfolio .imgs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 30px;
}
.portfolio .imgs .box{
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
}
@media (max-width : 768px){
    .portfolio .imgs .box{
        flex-basis: 100%;
    }
}
@media (min-width : 768px){
    .portfolio .imgs .box{
        flex-basis: 50%;
    }
}
@media (min-width : 1199px){
    .portfolio .imgs .box{
        flex-basis: 25%;
    }
}
.portfolio .imgs .box img{
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .imgs .box .caption{
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -87px;
    width: 100%;
    transition: 0.3s;
}
.portfolio .imgs .box:hover .caption{
    bottom: 0;
}
.portfolio .imgs .box img:hover{
    transform: rotateZ(10deg);
    scale: 1.3;
}
.portfolio .imgs .box .caption h4{
    font-style: normal;
    margin: 10px 0;
}
.portfolio .imgs .box .caption p{
    color: var(--main-color);
}
.portfolio .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio .btn button{
    margin: auto;
    width: 86px;
    height: 45px;
    border: none;
    padding: 15px 20px;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
}
/* End portfolio */
/* Start video */
.video-container{
    position: relative;
    margin-top: 100px;
}
video{
    width: 100%;
    height: 100%;
    position: relative;
}
.video{
    position: relative;
}
.video::before{
    content: "";
    width: 100%;
    height: 99%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.video-container .text{
    min-width: 100%;
    text-align: center;
    background: var(--transparent-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}
.video-container .text h3{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.video-container .text p{
    font-weight: 400;
    font-size: 16px;
    margin: 26px;
}
.video-container .text button{
    padding: 9px 20px;
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
}
/* End video */
/* Start about */
.about{
    text-align: center;
}
.about .img{
    overflow: hidden;
}
.about img{
    margin-bottom: -120px;
}
.about-container{
    background: url(../imgs/about-container.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0;
}
.about-container .about-content{
    background: var(--transparent-color);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
}
@media (max-width:1024px){
    .about img{
        display: none;
    }
}
.about-container .about-content .col{
    height: 263px;
    flex-basis: 25%;
    text-align: center;
}
.about-container .about-content .col i{
    margin-top: 50px;
    margin-bottom: 29px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    color: white;
    border-radius: 50%;
}
.about-container .about-content .col h3{
    font-weight: 700;
    font-size: 50px;
    color: white;
}
.about-container .about-content .col p{
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-top: 19px;
    margin-bottom: 50px;
}
/* End about */
/* Start skills */
.skills .container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
@media (max-width: 1190px){
    .skills .testimonials,.skills .skills-range{
        margin: auto;
    }
}
@media (max-width : 425px){
    .skills .testimonials .text{
        text-align: center;
        margin: 40px 0;
    }
    .skills .profile-row img{
        margin: auto;
        background: rgb(255, 0, 251);
    }
}
.skills .testimonials{
    max-width: 513px;
}
.skills .testimonials .header{
    text-align: center;
    text-transform: capitalize;
}
.skills .testimonials .header h2{
    font-weight: 400;
    font-size: 18.72px;
    margin-bottom: 29px;
    text-transform: uppercase;
}
.skills .testimonials .header p{
    font-weight: 400;
    font-size: 16px;
    color: #777;
}
.profile-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.profile-row img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
.profile-row .text{
    max-width: 363px;
    padding-bottom: 14px;
    border-bottom: 1px solid #b1b1b1;
}
.profile-row .text p{
    width: 100%;
}
.profile-row .text p:last-child{
    text-align: end;
    margin-top: 6px;
    color: #777;
}
.skills .skills-range{
    max-width: 513px;
    /* margin-right: 114px; */
}
.skills .skills-range .header{
    text-align: center;
    text-transform: capitalize;
}
.skills .skills-range .header h2{
    font-weight: 400;
    font-size: 18.72px;
    margin-bottom: 29px;
    text-transform: uppercase;
}
.skills .skills-range .header p{
    font-weight: 400;
    font-size: 16px;
    color: #777;
}
.skills .skills-range .ranges{
    margin-top: 59px;
}
.skills .skills-range .range-container{
    width: 90%;
    height: 64px;
    margin: auto;
    margin-bottom: 39px;
}
.skills .skills-range .range-container h3{
    font-weight: 400;
    font-size: 16px;
}
.skills .skills-range .range-container .range{
    width: 100%;
    height: 30px;
    background: rgba(144, 144, 144, 0.243);
    border-radius: 4px;
    margin-top: 15px;
    position: relative;
}
.skills .skills-range .range-container .range::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--main-color);
}
.skills .skills-range .range-container .range::after{
    content: "50%";
    width: 40px;
    height: 40px;
    background: black;
    position: absolute;
    top: -40px;
    border-radius: 50%;
    left: calc(50% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* Start adobe range */
.skills .skills-range .range1 .range::before{
    width: 90%;
}
.skills .skills-range .range1 .range::after{
    content: "90%";
    left: calc(90% - 30px);
}
/* End adobe range */
/* Start html & css range */
.skills .skills-range .range2 .range::before{
    width: 85%;
}
.skills .skills-range .range2 .range::after{
    content: "85%";
    left: calc(85% - 30px);
}
/* End html & css range */
/* Start javascript range */
.skills .skills-range .range3 .range::before{
    width: 80%;
}
.skills .skills-range .range3 .range::after{
    content: "80%";
    left: calc(80% - 30px);
}
/* End javascript range */
/* Start php range */
.skills .skills-range .range4 .range::before{
    width: 90%;
}
.skills .skills-range .range4 .range::after{
    content: "90%";
    left: calc(90% - 30px);
}
/* End php range */
.plan{
    text-align: center;
    background: rgba(33, 35, 39, 0.873);
    background: url(../imgs/peakpx\ \(2\).jpg);
    color: white;
}
.plan .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}
.plan .container h3{
    text-align: center;
    font-weight: 400;
    font-size: 33px;
    font-style: normal;
    line-height: 34px;
    width: 80%;
}
.plan .container p{
    font-weight: 400;
    font-size: 18px;
    margin-top: 18px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}
/* End skills */
/* Start pricing */
.pricing{
    background: #f3f3f38b;
    margin-bottom: 120px;
}
.pricing .cols{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    gap: 30px;
}
.pricing .container .col{
    border-top: 1px solid var(--main-color);
    text-align: center;
    margin-top: 40px;
    background: white;
    box-shadow: 1px 1px 10px 1px rgba(209, 209, 209, 0.236);
}
.pricing .container .col .pric{
    height: 153px;
}
.pricing .container .col .pric p{
    font-weight: 400;
    font-size: 18.72px;
    margin-top: 39px;
    text-transform: uppercase;
}
.pricing .container .col .pric span{
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    position: relative;
    bottom: -11px;
}
.pricing .container .col .pric span::before{
    content: "$";
    position: absolute;
    top: 0;
    left: -14px;
    width: 14px;
    font-weight: 400;
    font-size: 25px;
}
.pricing .container .col .pric span::after{
    content: "/Mo";
    position: absolute;
    bottom: 0;
    right: -39px;
    font-weight: 700;
    font-size: 20px;
    width: 39px;
}
.pricing .features{
    margin-bottom: 35px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
}
.pricing .features p{
    flex-basis: 58px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
    text-transform: capitalize;
}
.pricing .features .disaple{
    border: none;
}
.pricing .col .col-btn button{
    width: 108px;
    height: 60px;
    border: none;
    background: white;
    color: #0000EE;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    border: 1px solid var(--main-color);
    cursor: pointer;
}
.pricing .btn{
    width: 100%;
    text-align: center;
    margin-top: 48px;
    text-transform: capitalize;
}
.pricing .btn p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 18px;
    text-transform: capitalize;
}
.pricing .btn button{
    width: 140px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background: var(--main-color);
    border: none;
    color: white;
    text-transform: capitalize;

}
/* End pricing */
/* Start email */
.email{
    background: url(../imgs/about-container.jpg);
    color: white;
    text-align: center;
    height: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email .container{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}
@media (max-width:1199px){
    .email .container{
        text-align: center;
        flex-direction: column;
    }
    .email .container .input,.email .container .text{
        margin: auto;
        margin: 10px auto;
    }
}
@media (max-width:680px){
    .email .container .input{
        margin-bottom: 40px;
    }
}
.email .container .input{
    max-width: 424px;
    height: 60px;
    display: flex;
    position: relative;
    border: 2px solid #777;
    flex-basis: 50%;
}
.email .container .input input{
    border: none;
    padding: 10px 20px;
    margin: 0;
    color: white;
    font-size: 17px;
    outline: none;
    background: none;
    flex-basis: 70%;
}
.email .container .input input::placeholder{
    color: white;
}
.email .container .input button{
    flex-basis: 30%;
    border: none;
    text-transform: uppercase;
    background: var(--main-color);
    color: white;
    font-size: 13px;
}
.email .text{
    flex-basis: 50%;
    margin-left: 50px;
}
/* End email */
/* Start contact us */
.contact{
    background: #f3f3f38b;
}
.contact .input{
    display: flex;
}
@media (max-width : 766px){
    .contact .input{
        display: block;
    }
}
.contact .input .inputs{
    display: flex;
    flex-direction: column;
    flex-basis: 798px;
    margin-right: 57px;
}
.contact .input input{
    height: 60px;
    margin-bottom: 30px;
    border: none;
    outline: 1px solid #b1b1b1;
    padding: 20px;
    box-shadow: 1px 1px 10px 1px rgba(172, 172, 172, 0.273);
    font-weight: 400;
    font-size: 16px;
}
.contact .input input::placeholder{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}
.contact .input textarea{
    height: 200px;
    border: none;
    outline: 1px solid #b1b1b1;
    padding: 20px;
    box-shadow: 1px 1px 10px 1px rgba(172, 172, 172, 0.273);
    font-weight: 400;
    font-size: 16px;
}
.contact .output{
    max-width: 70%;
    text-align: end;
}
.contact  button{
    width: 156px;
    height: 58px;
    margin-top: 30px;
    border: none;
    background: var(--main-color);
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .input .text{
    flex-basis: 285px;
}
@media (max-width : 766px){
    .contact .input .text{
        text-align: center;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 40px;
    }
    .contact .output{
        text-align: center;
        max-width: 100%;
    }
}
.contact .input .text h2{
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.contact .input .text p{
    font-weight: 400;
    font-size: 16px;
    color: #777;
    margin-bottom: 9px;
}
@media (min-width:760px){
    .contact .input .text .street h2{
        margin-top: 89px;
        margin-bottom: 30px;
    }
}
.contact .input .text .street p{
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}
/* End contact us */
/* Start footer */
footer {
    height: 380px;
    background: #333;
    padding: 50px 0;
    margin-top: 100px;
    background: url(../imgs/peakpx\ \(2\).jpg);
}
footer .container{
    text-align: center;
    color: white;
}
footer .container img{
    margin-bottom: 43px;
}
footer .container h3{
    width: 198.27px;
    height: 66.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-bottom: 2px solid #777;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
footer .container .icon{
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
}
footer .container .icon i{
    margin-right: 33px;
    transform: translateX(100%);
    font-size: 16px;
}
footer .container p{
    font-weight: 400;
    font-size: 16px;
}
footer .container span{
    color: var(--main-color);
}
/* End footer */
